{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .cart-upsell__heading {
    margin-bottom: 1.5rem;
  }

  .cart-upsell__list.slider {
    margin-bottom: 0;
  }

  .cart-upsell__list .grid__item {
    width: calc(100% / 1.5);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .cart-upsell__list .grid__item {
      width: calc(100% / 2.5);
    }
  }

  @media screen and (min-width: 990px) {
    .cart-upsell__list .grid__item {
      width: calc(100% / 4.5);
    }
  }
{%- endstyle -%}

{%- liquid
  assign trigger_types = section.settings.trigger_types | downcase | split: ','
  assign upsell_type = section.settings.upsell_type | downcase
  assign has_trigger = false
  assign has_upsell_type = false

  for item in cart.items
    assign item_type = item.product.type | downcase
    if upsell_type != blank and item_type == upsell_type
      assign has_upsell_type = true
    endif

    for trigger in trigger_types
      assign trigger_clean = trigger | strip
      if trigger_clean != blank and item_type == trigger_clean
        assign has_trigger = true
      endif
    endfor
  endfor

  assign upsell_collection = collections[section.settings.upsell_collection_handle]
-%}

{%- if cart != empty and has_trigger and has_upsell_type == false and upsell_collection != blank and upsell_collection.products_count > 0 -%}
  <section class="cart-upsell color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
    <div class="page-width">
      <h2 class="title h3 cart-upsell__heading">{{ section.settings.heading }}</h2>
      <slider-component class="slider-mobile-gutter">
        <ul
          class="cart-upsell__list grid product-grid slider slider--everywhere"
          role="list"
          aria-label="{{ 'general.slider.name' | t }}"
        >
        {% assign skip_card_product_styles = false %}
        {%- for product in upsell_collection.products limit: section.settings.products_limit -%}
          <li class="grid__item slider__slide">
            {% render 'card-product',
              card_product: product,
              show_vendor: false,
              show_rating: false,
              quick_add: 'standard',
              section_id: section.id,
              skip_styles: skip_card_product_styles
            %}
          </li>
          {%- assign skip_card_product_styles = true -%}
        {%- endfor -%}
        </ul>
      </slider-component>
    </div>
  </section>
{%- endif -%}

{% schema %}
{
  "name": "Cart Upsell Zubehör",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Überschrift",
      "default": "Passendes Zubehör"
    },
    {
      "type": "text",
      "id": "trigger_types",
      "label": "Trigger-Typen (kommagetrennt)",
      "default": "home tapete,kindertapete"
    },
    {
      "type": "text",
      "id": "upsell_type",
      "label": "Upsell-Typ (nicht anzeigen, wenn vorhanden)",
      "default": "tapetenzubehör"
    },
    {
      "type": "text",
      "id": "upsell_collection_handle",
      "label": "Collection Handle für Upsell",
      "default": "tapetenzubehor"
    },
    {
      "type": "range",
      "id": "products_limit",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Anzahl Produkte",
      "default": 3
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 24
    }
  ],
  "presets": [
    {
      "name": "Cart Upsell Zubehör"
    }
  ]
}
{% endschema %}